.turnOn{
    height: 100px;
    width: 100px;
    background-color: black;

}
.block{
    height: 100px;
    width: 100px;
    background-color: red;
    display: none;
}
.turnOn:hover .block{
    display: block;
}